* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

.jumbotron {
  background-image: url('/assets/img/jsSeinfeld.png');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  text-align: left;
}

.container {
  background-color: navy;
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-body {
  background-color: rgb(218, 188, 22);
}

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  body {
    background-color: grey;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: grey;
  }
}
